html{
  font-family: sans-serif;
  background-color: #000;
}
html, body{
  min-height: 100%;
  margin: 0;
}
#hero-banner{
  position: relative;
  text-align: center;
  font-size: 5rem;
  font-family: 'Saira Stencil One', fantasy;
  height: 100%;
  width: 100%;
    background: radial-gradient(#350600, #070100);
}
#headline{
  width: 100%;
  color: #f42a02;
  text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;
  animation-name: text-shadow-jitter;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes text-shadow-jitter {
  0%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  20%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  21%{text-shadow: -2px 2px #bc1f00, -4px 4px #dd3513, -6px 6px #ea5233;}
  22%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  37%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  38%{text-shadow: -2px 2px #bc1f00, -4px 4px #dd3513, -6px 6px #ea5233;}
  39%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  74%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  75%{text-shadow: -2px 2px #bc1f00, -4px 4px #dd3513, -6px 6px #ea5233;}
  76%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  98%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
  99%{text-shadow: -2px 2px #bc1f00, -4px 4px #dd3513, -6px 6px #ea5233;}
  100%{text-shadow: -2px 2px #9b1900, -4px 4px #9b1900, -6px 6px #540e00;}
}
#hero-lightning{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#hero-lightning path{
  fill: red;
  animation-name: lightning-gradient-sweep;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes lightning-gradient-sweep {
  0%{fill: linear-gradient(0% #fc2f2fdd, 1% #d13c3cdd, 100% #fc2f2fdd);}
  100%{fill: linear-gradient(0% #fc2f2fdd, 1% #d13c3cdd, 100% #fc2f2fdd);}
}
footer{
    width: 100%;
    text-align: center;
}

footer a{
  color: #fff;
  text-decoration: underline;
}
footer a:visited{
  color: #fff;
}
