.game-table{
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  font-family: 'Graduate', monospace;
}
table{
table-layout: fixed;
  border: 4px solid #f84118;
}
.game-table td{
border: 4px solid #f77b07;
cursor: pointer;
}
td{
  padding: 0.5em;
}
td.cell-selected{
  color: #f77b07;
}
td.cell-team-r{
  background-color: #f00;
}
td.cell-team-b{
  background-color: #00f;
}
td.cell-team-o{
  background-color: #000;
}
