@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

.dnd-slider-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d63200;
}
.dnd-slider-nav > label{
  margin: 1em;
  padding: 0.5em;
  cursor: pointer;
  border: 0.5em solid #f57000;
  background-color: #ffffff;
}
.dnd-slider > input{
  display: none;
}
.dnd-slide{
  display: none;
}
.dnd-slider>input:checked + .dnd-slide{
  display: block;
}
.player-sheet-headline input{
  display: block;
}
.light-font{
  color: #c5c5c5;
}
.input-label{
    font-family: "Langar";
}
.number-input{
  width: 1.5em;
  padding: 0.2em;
  font-size: 1.5em;
  text-align: center;
}
.word-input{
  min-width: 12em;
}
.text-input{
  width: 90%;

}
.subtitle{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 0.5em;
}
.bordered{
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 1em;
  background-color: #fff;
}
#player-overview{
  display: flex;
}
#player-list{
  grid-column: 1 / span 2;
  grid-row: 2;
  margin: 1em;
  text-align: center;
}
#player-list .player-select{
  border: 2px solid #ff0000;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #00ffff;
}
#player-sheet{
  flex: 5;
  grid-column: 3;
  grid-row: 1 / span 2;
  display: grid;
  padding: 1em;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  font-size: 0.8em;
}
#player-sheet .name{
  grid-row: 1;
  grid-column: 1 / span 2;
}
#player-sheet .categories{
  grid-row: 1;
  grid-column: 3 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0.1em;
}
#player-sheet .modifiers{
  grid-row: 2 / span 5;
  grid-column: 1;
  background-color: #b9b9b9;
  padding: 0.2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#player-sheet .modifiers .modifier{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;;
}
#player-sheet .modifiers p.input-label{
  margin: 0;
}
#player-sheet .modifiers input.modifier-roll{
  margin: 0.1em;
  font-size: 2em;
}
#player-sheet .modifiers input.modifier-input{
  width: 0.5em;
  margin: 0.1em;
  font-size: 1.2em;
  text-align: center;
}
#player-sheet .inspirationn{
  grid-row: 2;
  grid-column: 2;
}
#player-sheet .proficiencyy{
  grid-row: 3;
  grid-column: 2;
}
#player-sheet .saving-throws{
  grid-row: 4;
  grid-column: 2;
}
#player-sheet .skill{
  margin: 0;
  font-size: 0.5em;
}
#player-sheet .skill-prof{
}
#player-sheet .skill-level{
  border: none;
  border-bottom: 1px solid #b4b4b4;
  width: 2em;
  text-align: center;
}
#player-sheet .skills{
  grid-row: 5 / span 2;
  grid-column: 2;
}
#player-sheet .perception{
  grid-row: 7;
  grid-column: 1 / span 2;
}
#player-sheet .proficiencies{
  grid-row: 8;
  grid-column: 1 / span 2;
}
#player-sheet .combat{
  grid-row: 2 / span 4;
  grid-column: 3;
  background-color: #b9b9b9;
  border-radius: 1em;
  padding: 0.5em;
}
#player-sheet .combat *{
  margin: 0.1em;
}
#player-sheet .combat-stats{
  display: flex;
  justify-content: space-around;
}
#player-sheet .combat-stats > div{
  text-align: center;
  width: 25%;
}
#player-sheet .combat .hitpoints{
  background-color: #fff;
}
#player-sheet .number-input{
  text-align: center;
}
#player-sheet .hitpoints .number-input{
  width: 90%;
}
#player-sheet .hit-dice-death-save{
  display: flex;
}
#player-sheet .attacks{
  grid-row: 6;
  grid-column: 3;
}
#player-sheet .equipment{
  grid-row: 7 / span 2;
  grid-column: 3;
}
#player-sheet .equipment > *{
  margin: 0.2em;
}
#player-sheet .traits{
  grid-row: 2 / span 4;
  grid-column: 4;
  background-color: #b9b9b9;
  padding: 0.5em;
  border-radius: 1em;
}
#player-sheet .features{
  grid-row: 6 / span 3;
  grid-column: 4;
}
#player-sheet .name2{
  grid-row: 9;
  grid-column: 1 / span 2;
}
#player-sheet .appearance{
  grid-row: 9;
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0.1em;
}
#player-sheet .backstory{
  grid-row: 10 / span 3;
  grid-column: 1 / span 2;
}
#player-sheet .allies{
  grid-row: 10;
  grid-column: 3 / span 2;
}
#player-sheet .attributes{
  grid-row: 11;
  grid-column: 3 / span 2;
}
#player-sheet .treasure{
  grid-row: 12;
  grid-column: 3 / span 2;
}
#player-sheet .spellcasting-class{
  grid-row: 13;
  grid-column: 1 / span 2;
}
#player-sheet .spellcasting-stats{
  grid-row: 13;
  grid-column: 3 / span 2;
  display: flex;
  background-color: #b9b9b9;
  padding: 0.5em;
  border-radius: 1em;
  justify-content: space-around;
}
#player-sheet .spells{
  grid-row: 13;
  grid-column: 1 / span 4;
}
