.dreams-headline{
  padding: 0.2em;
  margin: 2em;
  margin-top: 0;
  background-color: #0007;
  text-align: center;
  box-shadow: #0007 0 0 1em;
}
.dreams-navigation{
  display: flex;
  justify-content: center;
}
.dreams-navigation span{
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 0 0.3em 0.3em;
  background: #9d5241;
  color: #000;
  cursor: pointer;
}
.dreams-navigation span:hover{
  background: linear-gradient(#f77b07, #f73f07);
}
.dreams-navigation span.dreams-navigation-selected{
    background: #000;
    color: #fff;
}
.dreams-main-div{
  position: relative;
  width: 100%;
  height: auto;
  margin: 2em;
}
.dreams-main-div > div{
  padding: 1em;
  position: absolute;
  width: calc(100% - 8em);
  margin-top: 0;
  padding: 2em;
  display: block;
  background-color: #0007;
  box-shadow: #0007 0 0 1em;
  top: 0;
  left: -120vw;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.dreams-main-div > div.dream-div-hidden{
  animation-name: hide-div;
}
.dreams-main-div > div.dream-div-visible{
  animation-name: show-div;
}
@keyframes show-div {
  0%{left: -120vw;display: none;}
  100%{left: 0;display: block;}
}
@keyframes hide-div {
  0%{left: 0;display: block;}
  100%{left: 120vw;display: none;}
}

.dreams-edit-flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dreams-edit-flexbox > div{
  margin: 0.5em;
}
.dreams-edit-text-title{
  flex-grow: 1;
  text-align: center;
}
.dreams-edit-text-title textarea{
  color: #fff;
  box-sizing: border-box;
  background-color: #0007;
  font-family: 'Hind Madurai', sans-serif;
  padding: 1em;
  width: 100%;
}
.dreams-edit-title-options{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dreams-edit-options{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.dreams-edit-title-options > div{
  margin-bottom: 1em;
  flex: 0 0 20%;
  padding: 1em;
}
.dreams-edit-title-options > div:nth-child(2){
  text-align: center;
  flex-grow: 1;
  min-width: 50%;
}
.dreams-edit-title{
  font-size: 2em;
  font-family: 'Graduate', 'Hind Madurai', sans-serif;
  width: 100%;
  color: #fff;
  padding: 0.2em;
  text-align: center;
  border-style: ridge;
  background: radial-gradient(#0001, #0004);
}
.dreams-edit-save-changes{
  cursor: pointer;
  font-size: 1.2em;
  margin: 0.2em;
  padding: 0.3em;
  border-radius: 0.2em;
  border: 1px solid #000;
  background-color: #9d5241;
  color: #000;
}
.dreams-edit-save-changes:hover{
border: 1px solid #fff;
background-color: #000;
color: #fff;
}
.dreams-edit-data{
  width: auto;
  text-align: center;
  padding: 1em;
}
.dreams-edit-checkboxes{
  width: auto;
  padding: 1em;
  text-align: right;
}
.dreams-dream-list > div:nth-child(1){
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.dreams-page-selector{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dreams-page-selector p{
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 2px;
  background-color: #9d5241;
  color: #fff;
}
.dreams-page-button{
  cursor: pointer;
}
.dreams-page-button:hover{
  background-color: #6d2211;
}
.dreams-page-button.disabled{
  color: #aaa;
  background-color: #666;
}
.dreams-page-text-input{
  width: 2em;
  text-align: center;
}
.dreams-dream-list-dreams{
  display: grid;
  grid-gap: 0.5em 0.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media (min-width:800px) {
  .dreams-dream-list-dreams{
  grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:1200px) {
  .dreams-dream-list-dreams{
  grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:1800px) {
  .dreams-dream-list-dreams{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.dreams-dream-list-dream{
  border: 2px solid;
  border-color: #000;
  border-radius: 0.5em;
  background: radial-gradient(#0001, #0004);
  padding: 1em;
}
.dreams-dream-list-dream div{
  display: flex;
  justify-content: space-between;
}
.dreams-dream-list-dream h4{
  font-family: 'Graduate', 'Hind Madurai', sans-serif;
  font-size: 1.5em;
  margin: 0.2rem;
  margin-bottom: 0.7rem;
}
.dreams-dream-list-dream p{
  font-size: 1em;
  margin: 0.2rem;
}
.dreams-edit-dream{
  border-style: solid;
  border-radius: 1em;
  border-width: 2px;
}
.dream-list-text{
  max-height: 25vh;
  overflow-y: scroll;
}
.dreams-icon{
  position: relative;
  height: 2em;
  width: 2em;
  top: 0.5em;
}
.dream-list-username{
  text-align: right;
  font-style: italic;
}
#dreams-div-statistics p{
  padding: 0.1em;
  color: #000;
}
.dreams-statistics-box{
  background: linear-gradient(#fff9, #fff);
  margin: 1em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.dreams-statistics-box svg{
  max-width: 100%;
  height: auto;
}
.dreams-statistics-number{
  font-size: 4em;
  font-weight: bold;
  font-family: 'Graduate', 'Hind Madurai', sans-serif;
  margin: 0;
  padding: 0;
}
#dreams-div-statistics > div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
