#main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
}
#main > article > h2{
text-align: center;
font-size: 5em;
font-family: 'Finger Paint', 'Graduate', 'Hind Madurai', sans-serif;
background: linear-gradient(#f73f07, #f77b07);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-transform: uppercase;
}
#main aside{
  grid-column: span 1;
  background: radial-gradient(#432923, #2b1a16);
  min-height: 15em;
  padding: 2em;
  font-family: 'Graduate', 'Hind Madurai', sans-serif;
  text-align: center;
}
#main > aside > a{
  width: 100%;
  height: 100%;
    display: block;
}
#main > aside > a > * {
  display: block;
  margin: 0 auto;
}
#main > aside > a > img{
  height: 10em;
  margin-bottom: 1em;
}
#main > aside > a > h3{
  color: #fff;
  font-size: 1.8em;
  margin-bottom: 0.7em;
  font-weight: bold;
}
#main > aside > a > p{
  color: #fff;
}
#main article{
  grid-column: span 2;
  padding: 4em;
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 min-height: 20vh;
}
#main .left-image{
  background-position: -16.66vw 50%;
  grid-column: 1 / span 2;
}
#main .right-image{
  background-position: 16.66vw 50%;
  grid-column: 2 / span 2;
}
@media (max-aspect-ratio: 1/1) {
  #main{
    display: flex;
    flex-direction: column;
  }
  #main .left-image, #main .right-image{
    background-position: center;
  }
}
