@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Graduate&family=Hind+Madurai&display=swap');
html, body{
  width: 100%;
  margin: 0;
  font-family: 'Hind Madurai', sans-serif;
  color: #fff;
  background-image: linear-gradient(#9d5241, #7c392a), url("background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
body{
overflow-y: visible;
overflow-x: hidden;
}
input{
  font-family: 'Hind Madurai', sans-serif;
}
main a{
  background: linear-gradient(#f73f07, #f77b07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-decoration: none;
}
#header{
  background: #fff;
  padding: 0.8em;
background: url("/pictures/header_bg.jpg");
background-size: cover;
background-position: top left;
background-attachment: fixed;
}
.header-logged-in-info{
}
#nav{
  background: #000;
  box-shadow: #000 0 0 1em;
  font-family: 'Graduate', 'Hind Madurai', sans-serif;
  padding: 1em;
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  justify-content: center;
}
#nav a{
  color: #fff;
  text-decoration: none;
}
#nav a:visited{
  color: inherit;
}
#nav > div{
  color: #fff;
  border-bottom: #fff 2px solid;
  cursor: pointer;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: #fff 2px solid;
  border-radius: 5px 5px 0px 0px;
}
#nav > div.selected{
  background-color: #9d5241;
  color: #000;
  border-bottom: none;
  border-radius: 5px;
}
#nav > div:hover{
  background: linear-gradient(#f77b07, #f73f07);
}
#title img{
  height: 1.4em;
  margin-left: 0.1em;
  margin-right: 0.2em;
}
#title{
    font-size: 5rem;
  font-family: 'Finger Paint';
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #9d5241;
  overflow: hidden;
    text-decoration: none;
}
#title h1{
  font-size: 1em;
  margin: 0;
  color: #f73f07;
  background: linear-gradient(#f73f07, #f77b07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#subnav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-shadow: #000 1px -1px 1px;
  font-size: 0.8em;
}
#subnav > *{
  margin-left: 0.5em;
}
.logout-button{
  background: none;
  border: 1px dashed #f73f07;
  color: #f73f07;
  cursor: pointer;
  font-size: 1em;
}
#subnav > a{
  color: #f73f07;
  text-decoration: underline;
}
@media (max-aspect-ratio: 1/1) {
  #title{
    font-size: 3rem;
  }
}
